h1, h2, h3, h4, h5, h6 {
    font-family: $font__main;
    letter-spacing: 2px;
	clear: both;
}

.site-title {
    font-family: $font__head;
    letter-spacing: 3px;
    @include font-size(3);
    line-height: $font__line-height-body;
    text-shadow: 2px 2px #4B0082;
    font-weight: bold;
    margin-bottom: 1rem;
    a {
        text-decoration: none;
    }
}