$color__background-body: #4B0082; /* Indigo */
$color__background-screen: #4B0082; /* Indigo */
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-masthead: #9F5F9F; /* blueviolet */
$color__background-nav: #4B0082; /* Indigo */
$color__background-gradient-nav: #DA70D6; /* orchid */

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #fff;
$color__link-visited: #fff;
$color__link-hover: #fff;
$color__text-main: #404040;
$color__text-head: #FF7F50;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
