.site-header {
    background: $color__background-masthead;  
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    box-shadow: 0px 2px 5px #E6E6FA;

    .site-branding {
        padding-right: 25px;
        padding-left:25px;
    }
}
